.card {
  margin-top: 10%;
  margin-bottom: 10%;
}

th {
  border-bottom: 1px solid black;
}

.card {
	min-width:280px;
}

.btn:hover {
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
